@font-face {
  font-family: lato;
  src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: lato-Bold;
  src: url("../fonts/Lato-Bold.ttf");
}

@font-face {
  font-family: lato-hairline;
  src: url("../fonts/Lato-Hairline.ttf");
}

@font-face {
  font-family: MyriadPro-Regular;
  src: url("../fonts/MyriadPro-Regular.otf");
}

@font-face {
  font-family: Lato-HairlineItalic;
  src: url("../fonts/Lato-HairlineItalic.ttf");
}
