$container-width: 118rem;
$basic-font-light: "Lato", sans-serif;
$large-break-point: 1200px;
$medium-break-point: 1060px;
$small-break-point: 840px;
$smaller-break-point: 700px;
$delimiter-color: #f57365;
$base-text-color: white;
