$base-font: 300 16px/26px "Lato", sans-serif;

$white: #fff;
$black: #000;
$gray: #676767;
$red: #f57365;

$base-color: $gray;
$base-bg: $white;

$link-color: $black;

$button-color: $white;
$button-border-color: $white;

$desktop-viewport: 1024px;
$tablet-viewport: 768px;
