$container-width: 118rem;

$basic-font-size: 10px;
$basic-font-family: "Lato", sans-serif;
$second-font-family: 'PT Serif', serif;

$light-weight: 100;

$color1: #000;
$color2: #fff;
$color3: #f69679;
$color4: #f7f7f7;
