.features {
  padding: 10rem 0 18.4rem;

  &__menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__item {
    flex: 30.5%;
    max-width: 36rem;
    text-align: center;
  }

  &__icon {
    display: inline-block;
    border: 1px solid $color1;
    border-radius: 50%;
    width: 10.5rem;
    height: 10.6rem;

    &_1 {
      background: url("../img/features-1.svg") center no-repeat;

      &:hover {
        background: url("../img/features-1-1.svg") center no-repeat;
      }
    }

    &_2 {
      background: url("../img/features-2.svg") center no-repeat;

      &:hover {
        background: url("../img/features-2-1.svg") center no-repeat;
      }
    }

    &_3 {
      background: url("../img/features-3.svg") center no-repeat;

      &:hover {
        background: url("../img/features-3-1.svg") center no-repeat;
      }
    }
  }

  &__heading {
    letter-spacing: 0.05rem;
    margin-top: 1.2rem;
  }

  &__text {
    margin: 1.2rem 0;
  }

  @media only screen and (max-width: $small-break-point) {
    &__menu {
      flex-direction: column;
      padding: 0 3rem;
    }
    &__item {
      flex: 100%;
      max-width: 100%;
    }
  }
}
