.header {
  background: url("../img/bg.png") center/cover no-repeat;
  color: $color2;
  text-align: center;
  text-transform: uppercase;

  &__logo {

  }

  &__menu {
    display: inline-block;
    font: normal bold 1.4rem $basic-font-family;
  }
  &__subheading {
    text-transform: none;
    font: italic bold 3.6rem $second-font-family;
    opacity: 0.702;

  }
  &__button {
    font: normal bold 1.8rem $basic-font-family;
  }

  &__text {
    font: normal bold 1.4rem $basic-font-family;
  }

  &__link {
    color: $color2;
  }
}
