.info-list {
  padding: 100px 0 90px;
  margin: 0 -10px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;

  @media screen and (max-width: $tablet-viewport) {
    flex-direction: column;
    padding: 40px 0 40px;
    margin: 0;
  }

  &__item {
    margin: 0 20px;

    @media screen and (max-width: $tablet-viewport) {
      margin: 0 auto 20px;
    }
  }

  &__visual {
    width: 107px;
    height: 107px;
    border: 2px solid $black;
    display: block;
    margin: 0 auto 18px;
    position: relative;
    border-radius: 50%;
  }

  &__ico {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__title {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    color: $black;
    position: relative;
    margin: 0 0 20px;
    text-transform: uppercase;

    &:after {
      content: "";
      height: 1px;
      width: 88px;
      background: $red;
      position: absolute;
      top: 100%;
      left: 50%;
      margin: 4px 0 0 -44px;
    }
  }
}
