.introduse {
  background-color: $color4;

  &__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__img-container {
    height: 778px;
    flex: 50%;
    position: relative;
  }

  &__img {
    position: absolute;
    left: -22px;
  }

  &__info {
    box-sizing: border-box;
    flex: 50%;
    padding: 5.4rem 0 0 5rem;
  }

  &__line {
    margin-left: 0;
  }

  &__text {
    margin: 1.2rem 0 2.6rem;
  }

  &__link {
    display: inline-block;
    background: center/contain no-repeat;
    height: 3.9rem;

    &_app {
      background-image: url("../img/apple_badge.png");
      width: 11.2rem;
    }

    &_andr {
      background-image: url("../img/android_badge.png");
      width: 12rem;
      margin-left: 0.8rem;
    }
  }

  &::after {
    content: "";
    clear: both;
    display: block;
  }
}
