.logo {
  width: 42px;
  height: 37px;
  margin-top: 14px;
  margin-left: 13%;
}
@media screen and (max-width: 582px) {
  width: 32px;
  height: 27px;
  margin-top: 4px;
  margin-left: 3%;
}
