.nav {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__auth {
    margin-right: 11%;
  }

  &__input {
    display: inline-block;
    font-family: $header-fontfamily-lato-bold;
    font-size: 10px;
    font-weight: bold;
    color: $header-fontcolor;
    margin-top: 29px;
    margin-right: 24px;
  }
}
@media screen and (max-width: 582px) {
  &__auth {
    margin-right: 3%;
  }
  &__input {
    font-size: 7px;
    margin-top: 3px;
    margin-right: 10px;
  }
}