.numbers {
  margin: 4rem 0 5.2rem;

  &__menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: center;
  }

  &__digit {
    font: normal bold 3.6rem $basic-font-family;
    margin: 1rem 0 0;
    letter-spacing: 0.15rem;
  }

  &__text {
    margin: 0.2rem auto;
  }

  @media only screen and (max-width: $small-break-point) {
    &__menu {
      flex-direction: column;
    }
  }
}
